<nav class="navbar navbar-light" style="background-color: #e3f2fd;">  
    <ul class="nav nav-pills">        
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" routerLink="books">Livre</a>
        </li>    
        <li class="navbar-right nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="dashboard">Créer un compte</a>
        </li> 
        <li class="navbar-right nav-item" routerLinkActive="active" >
            <a class="nav-link" routerLink="register-user">Connexion</a>
        </li>  
        <li class="navbar-right nav-item">
            <a class="nav-link" *ngIf="!isAuth" style="cursor:pointer">Déconnexion</a>
        </li>  
    </ul>  
    <!--(click)="onSignOut()" --> 
  </nav>
  