<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Réinitialiser le mot de passe</h3><hr>
        <p class="alert alert-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
        Veuillez entrer votre adresse e-mail pour demander une réinitialisation du mot de passe.</p>
        <div class="formGroup">
         <!-- <input type="email" id="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>-->
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Votre e-mail" #passwordResetEmail required>           
        <br>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
         <button type="submit" class="btn btnPrimary" (click)="authService.ForgotPassword(passwordResetEmail.value)">Réinitialiser le mot de passe</button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span class="text-info">Revenir à ? <span class="btn btn-info" routerLink="/sign-in">Connexion</span></span>
      </div>
</div>
