<div class="container">
    <div class="row">
      <div class="col-12">
        <img src="../assets/images/mabibliotheque.jpg" class="d-block w-100" alt="Ma bibliotheque">
        <br>
      </div> 
      <div class="col-8">      
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../assets/images/desforme.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Ne ratez pas l'exposition "Visite à l'atelier</h5>
                    <p>Encore quelques jours pour découvrir l'exposition "Visite à l'atelier : Zaü, Lise Le Cœur et Françoise, hommage aux donateurs" à la médiathèque Françoise Sagan.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../assets/images/unevie.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Des bébés, des livres : 100 livres pour les 0-3 ans</h5>
                    <p>Découvrez notre sélection "Des bébés, des livres", un guide pratique présentant 100 titres pour les enfants de 0 à 3 ans, idéale pour les parents qui cherchent des conseils de lecture pour leur enfant</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../assets/images/decouvrir.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Les meilleurs disques et livres-cd 2022</h5>
                    <p>Chaque année, les bibliothécaires jeunesse vous proposent un tour d'horizon des meilleurs parutions de disques jeunesse à emprunter. Eveil musical, chansons, textes lus... Suivez nos conseils !</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>
        </div>
        <div class="col-4">
            <div class="alert alert-dark" role="alert">
            <b>INFOS PRATIQUES</b><hr>
            <blockquote> 
              En raison d'un problème technique, la boîte de retour automatique de la médiathèque KING Youss est indisponible. Nous vous prions de nous excuser pour la gêne occasionnée.
            </blockquote>    
            <div routerLinkActive="active"><a routerLink="register-user" title="S'ABONNER EN LIGNE">S'ABONNER EN LIGNE</a></div>
        </div>
        </div>
    </div>
</div>

<!--   <br><hr><br>
<div style="background-image:url('../assets/images/2019-j-aime-ma-bibliotheque (1).jpg');">
    <div id="search">
        <div class="picture">
            <div class="search-box">
                <input name="q" value="Rechercher dans Astrolabe : livre, film, jeu, document, etc." id="q" accesskey="s" type="text" maxlength="50" onclick="if(value=='Rechercher dans Astrolabe : livre, film, jeu, document, etc.'){value='';}">
                <a id="btnRechCat"><img src="/img/ico_search_button.jpg" alt="Rechercher" style="border-width:0px;" /></a>



                <div class="search-link"><a href="http://catalogue.bibliothequedequebec.qc.ca/" title="Catalogue Astrolabe">Catalogue Astrolabe</a></div>
            </div>
            <img src="../assets/images/2019-j-aime-ma-bibliotheque (1).jpg" alt="Bibliothèque de Québec">
        </div>
    </div>
</div>
</div>  -->
